*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.background1{
    width: 100vw;
    height: 100vh;
    display: table;
    background-size: cover;
    background-position: center;

}
.background1:nth-child(1){
    background-image: -webkit-linear-gradient(rgba(85, 40, 40, 0.978),rgba(10, 10, 10, 0.758)), url(https://github.com/Zerooaa/Web-Dev-Project/blob/main/Images/Website%20Image.jpg?raw=true);
    position: relative;
}
.background2{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50%;
    width: 100%;
    height: 100%;
    background-image: url(https://github.com/Zerooaa/Web-Dev-Project/blob/main/Images/Website%20Image.jpg?raw=true);
    background-repeat:repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
}

/* Form 1 */
.backgroundform1{
    border: 1px solid black;
    background-color: maroon;
    opacity: 0.8;
    border: 1px solid black;
    height: 900px;
    width: 1000px;
    margin: auto;
}

.nav-area{
    position: absolute;
    top: auto;
    left: auto;
    transform: translate(-50%, -50%);
    height: 60px;
    display: block;
    list-style: none;
    margin-left: 29%;
    margin-top: 50px;
}
.nav-area li{
    position: relative;
    float: left;
    background: #fff;
    line-height: 20px;
    padding: 5px 12px;
    margin-left: 25px;
}

.semcontainer{
    height: 10%;
    display: inline;
    align-items: center;
    color: #fff;
}

.form1{
    text-align: center;
}

.semGroup{
    margin-right: 2px;
    color: #fff;
}

.form1 input[type="radio"]{
    display: none;
}

.semcontainer label{
    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 1px;
}

.semcontainer label span{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 31px;
    transition: .25s ease;
}

.semcontainer label span:hover,
input[type="radio"]:checked + span{
    background-color: rgb(0, 0, 0);
}

.semcontainer label span:before{
    content: "";
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    transition: .25s ease;
    box-shadow: inset 0 0 0 2px black;
}
.form1 input[type="radio"]:checked + span:before{
    box-shadow: inset 0 0 0 5px maroon;
}

.studentinfo{
    margin-bottom: -50px;
}
.fill-group1{
    margin-bottom: 30px;
    position: relative;
    font-size: 120%;
    margin-top: 10px;
}

.form1 input, textarea{
    width: 50%;
    padding: 10px;
    outline: 0px;
    border: 1px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    font-size: 20px;
    resize: none;
}

.fill-group1 label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: text;
    transition: 0.2s;
    margin-left: 25%;
}

.form1 input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 16px;
}
.progress1{
    width: 1000px;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    border: 1px solid black;
    position: relative;
}
.progress-col1{
    width: 1000px;
    text-align: center;
    color: white;
    position: relative;
}
#progressBar1{
    position: absolute;
    height: 100%;
    width: 350px;
    background: linear-gradient(to right, maroon, yellow);
    transition: 1s;
}
#progressBar1::after{
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom:  20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid yellow;
}
.form1 button{
    width: 20%;
    font-size: 150%;
}

/* Form 1 */



/* -------------------------------- */



/* Form 2 */
.backgroundform2{
    border: 1px solid black;
    background-color: maroon;
    opacity: 0.8;
    border: 1px solid black;
    height: 900px;
    width: 1000px;
    margin: auto;
}

.form2{
    text-align: center;
}
.fill-group2{
    margin-bottom: 2px;
    position: relative;
    font-size: 120%;
}

.fill-group2 label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: rgb(0, 0, 0);
    cursor: text;
    transition: 0.2s;
    margin-left: 15%;
    margin-top: 30px;
}

.form2 input, textarea{
    width: 50%;
    padding: 10px;
    outline: 0px;
    border: 1px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    font-size: 20px;
    resize: none;
}

.fill-group2 input{
    margin-top: 27px;
    width: 70%;
    padding: 10px;
    outline: 10px;
    border: 1px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    font-size: 20px;
    resize: none;
}

.form2 input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 16px;
}

.progress2{
    width: 1000px;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    border: 1px solid black;
    position: relative;
}
.progress-col2{
    width: 1000px;
    text-align: center;
    color: white;
    position: relative;
}
#progressBar2{
    position: absolute;
    height: 100%;
    width: 700px;
    background: linear-gradient(to right, maroon, yellow);
    transition: 1s;
}
#progressBar2::after{
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom:  20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid yellow;
}

.formreleased img{
    margin-left: -2%;
    margin-bottom: -10%;
}
.formaccepted img{
    margin-left: -1%;   
    margin-bottom: -17%;
}

.form2 button{
    padding: 10px 0;
    color: rgb(0, 0, 0);
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    cursor: pointer;
    font-size: 120%;
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-left: 39%;
    width: 200px;
}
table, th, td{
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* Form 2 */