*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://github.com/Zerooaa/Web-Dev-Project/blob/main/Images/Website%20Image.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
}
.content{
    text-align: center;
}
body{
    color: white;
}
.background2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160%;
    background-image: url(https://github.com/Zerooaa/Web-Dev-Project/blob/main/Images/Website%20Image.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    filter: blur(3px);
}
.backgroundx{
    padding-left: 5%;
    width: 100%;
    height: 100vh;
    flex: 50%;
    align-items: left;
    justify-content:left;
}
.backgroundx img{
    margin-bottom: -5%;
}
.insTitle{
    padding: 3px 3px;
    text-indent: 2%;
    font-size: 150%;
    font-weight: bold;
}
.instructions{
    text-indent: 2%;
    font-size: 130%;
    line-height: 150%;
}
.studentName{
    margin-left: 2%;
}
.groupradio{
    text-align: center;
    word-spacing: 5px;
}
input[type=text]{
    height: 15px;
    width: 300px;
}
::placeholder{
    color: black;
    text-align: center;
}
.semGroup{
    margin-right: 2px;
}
form{
    width: 90%;
    max-width: 600px;
}

.fill-group{
    margin-bottom: 30px;
    position: relative;
    font-size: 120%;
}

input, textarea{
    width: 85%;
    padding: 10px;
    outline: 10px;
    border: 1px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    background: transparent;
    font-size: 20px;
    resize: none;
}

.fill-group label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px 0;
    color: rgb(255, 255, 255);
    outline: none;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    width: 50%;
    cursor: pointer;
    font-size: 120%;
    display: block;
    margin: auto;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 18px;
}

.container{
    height: 20vh;
    display: inline;
    align-items: center;
}

input[type="radio"]{
    display: none;
}

.container label{
    display: block;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 1px;
}

.container label span{
    display: inline-flex;
    align-items: center;
    padding: 10px 20px 10px 10px;
    border-radius: 31px;
    transition: .25s ease;
}

.container label span:hover,
input[type="radio"]:checked + span{
    background-color: rgb(204, 204, 204);
}

.container label span:before{
    content: "";
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    transition: .25s ease;
    box-shadow: inset 0 0 0 2px black;
}

input[type="radio"]:checked + span:before{
    box-shadow: inset 0 0 0 5px maroon;
}

.row{
    display: flex;
}
