*{
    margin: 0px;
    padding: 0px;
}
.background{
    background-image: url(https://github.com/Zerooaa/Web-Dev-Project/blob/main/Images/Website%20Image.jpg?raw=true);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    filter: opacity(99%);
}