*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://github.com/Zerooaa/Web-Dev-Project/blob/main/Images/Website%20Image.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(3px);
}
.content{
    text-align: center;
}
.insTitle{
    padding: 3px 3px;
    text-indent: 2%;
    font-size: 150%;
    font-weight: bold;
}
.instructions{
    text-indent: 2%;
    font-size: 130%;
    line-height: 150%;
}
.studentName{
    margin-left: 2%;
}
.groupradio{
    text-align: center;
    word-spacing: 5px;
}
input[type=text]{
    height: 15px;
    width: 300px;
}
::placeholder{
    color: black;
    text-align: center;
}
.semGroup{
    margin-left: 2%;
}